:root{
  --text-background: rgba(34, 34, 34, 0.2);
}

.light{
  --text-background: rgba(250, 250, 250, 0.429);
}

/* conteúdo da home */
main{
  width: 100%;
  flex-basis: auto;
  flex-grow: 1;
}

main.flex{
  justify-content: space-between;
}

.main-text.flex{
  align-items: flex-start;
  flex-direction: column;
}

.main-text{
  row-gap: 10px;
}

.main-text h1{
  font-size: 3em;
  font-family: var(--font-logo);
  color: var(--soft-white);
}

.main-text h1 > span{
  color: var(--soft-green);
}

.main-text p{
  line-height: 30px;
  max-width: 450px;
}

.main-text button{
  column-gap: 12px;
  margin-top: 14px;
  text-transform: uppercase;
  font-family: var(--font-logo);
  font-size: 1.4em;
  background-color: var(--medium-green);
  padding: 12px 24px;
  border-radius: 28px;
  transition: all .2s ease;
}

.main-text button *{
  color: white;
  transition: all .2s ease;
}

.main-text button:hover{
  background-color: var(--light-green);
  transform: scale(1.05);
}

.main-text button:hover i{
  transform: translateX(10px);
}

main > img{
  width: 50%;
  height: 100%;
}
